@import "../../app.scss";

.services {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .serviceIntro {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 2rem;

        @include mobile {
            align-self: center;
            text-align: center;
            flex-direction: column;
        }

        p {
            font-weight: 200;
            font-size: 2rem;
            color: gray;
            text-align: right;
        }

        hr {
            width: 50rem;
            border: none;
            border-top: 0.5px solid gray;

            @include mobile {
                width: 30rem;
            }
        }
    }

    .serviceTitle {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100%;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 5rem;

            @include mobile {
                flex-direction: column;
                text-align: center;
                gap: 2rem;
            }
        }

        img {
            width: 30rem;
            height: 10rem;
            border-radius: 5rem;
            object-fit: cover;

            @include mobile {
                width: 200px;
                height: 50px;
            }
        }

        h1 {
            font-size: 9.6rem;
            font-weight: 100;

            @include mobile {
                font-size: 3.6rem;
            }
        }


        button {
            width: 300px;
            height: 100px;
            border-radius: 50px;
            background-color: orange;
            border: none;
            font-size: 24px;
            cursor: pointer;

            @include mobile {
                font-size: 1.6rem;
                width: 15rem;
                height: 5rem;
            }

        }
    }

    .serviceList {
        flex: 2;
        display: flex;
        max-width: 1366px;
        margin: auto;

        @include mobile {
            flex-direction: column;
            width: 100%;
        }

        .box {
            padding: 50px;
            border: 0.5px solid gray;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include mobile {
                border: none;
                align-items: center;
                gap: 2rem;
                padding: 1rem;
            }

            p {
                @include mobile {
                    display: none;
                }
            }

            button {
                padding: 10px;
                background-color: orange;
                border: none;
                cursor: pointer;

                @include mobile {
                    background-color: transparent;
                    border: 1px solid orange;
                    border-radius: 5px;
                    color: orange;
                    width: 50%;
                    padding: 5px;
                }
            }
        }
    }
}