@import "../../../app.scss";

// Main navigation links style
.sideLinks {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    color: #000;


    .linksBg {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 40rem;
        background: #fff;
        margin: auto;
        z-index: 10;

        @include mobile {
            width: 20rem;
        }
    }

    .links {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;

        a {
            font-size: 4rem;
            color: black;

            @include mobile {
                font-size: 20px;
            }
        }
    }

    .toggleBtn {
        z-index: 10;
        position: fixed;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: fixed;
        top: 2.5rem;
        left: 2.5rem;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }
}